*{
	margin: 0px;
	padding: 0px;
}

[class^="s"] img {
	width: 100%;
}

[class^="hit"] img {
	width: 100%;
}

.s1, .s1 img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1180px;
	height: 775px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 282px;
  top: 444px;
  width: 616px;
  height: 269px;
	animation: fadeInDown 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 506px;
  top: 364px;
  width: 168px;
  height: 135px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 8;
}

.s4 {
	position: absolute;
  left: 506px;
  top: 364px;
  width: 168px;
  height: 135px;
	animation: flashOff 2s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 10;
}

@keyframes revealHorizontalRight {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,700px,100px,0px);
	opacity: 1;
  }
}


@keyframes rotateLeft {
  0% {
   transform: rotate3d(0, 0, 1, -16deg);
  }
  
  100% {
   transform: rotate3d(0, 0, 1, 10deg);
  }
}

@keyframes rotateRight {
  0% {
   transform: rotate3d(0, 0, 1, 16deg);
  }
  
  100% {
   transform: rotate3d(0, 0, 1, -10deg);
  }
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes flashOff {
  0%,  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1180px;
  height: 775px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 1070px;
  top: 661px;
  width: 110px;
  height: 114px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 931px;
  top: 661px;
  width: 139px;
  height: 114px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 755px;
  top: 666px;
  width: 151px;
  height: 109px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1180px;
	height: 775px;
	display: none;
	z-index: 20;
}